@font-face {
    font-family: 'Conthrax';
    src: url('../fonts/Conthrax-SemiBold.otf') format('opentype');
    font-weight: 600; /* atau sesuai berat font-nya */
    font-style: normal;
    font-display: swap;
  }
  